
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #171717;
	background: url('img/header_1.jpg') no-repeat top center;
	background-position: center 100%;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
	background-origin: content-box;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #EBA612;
}

a:hover
{
	text-decoration: none;
}


hr
{
	display: none;
}

img
{
	padding-right: 20px;
}

.clearfix
{
	clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	margin: 0px auto;
	height: 100%;
	width: 950px;
	background-size: 100%;
}




	.major
	{
		padding-top: 2em;
		text-align: center;
	}
	
	.major h2
	{
		float: left;
		background: rgba(249,243,229,.7);
		margin: 0em;
		text-align: left;
		font-weight: normal;
		line-height: 2em;
		font-size: 1.2em;
		color: black;
		width: 299px;
		padding: 20px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		behavior: url(/PIE.htc);
}

	.major h2 a
	{
		text-decoration: none;
		color: black;
}

	.major h2 a:hover
	{
		text-decoration: underline;
		color: #883314;
}

#content
	{
	float: left;
	margin-left: 30px;
	width: 440px;
	height: 540px;
	font-family: Arial, sans-serif;
	font-size: 9pt;
	color: #883314;
	background: rgba(255,255,255,.8);
	text-align: justify;
	font-weight: normal;
	line-height: 1em;
	padding: 30px;
	overflow: auto;
	scrollbar-track-color: silver;
	scrollbar-face-color: gray;
	scrollbar-highlight-color: dark gray;
	scrollbar-3dlight-color: green;
	scrollbar-darkshadow-color: gray;
	scrollbar-shadow-color: gray;
	scrollbar-arrow-color: gray;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/PIE.htc);	
}

.nazev
	{
		padding: 0px;
		font-size: 12pt;
		font-weight: bold;
		padding-bottom: 20px;
}

#blok
	{
		display: block;
		width: 400px;
}

.nazev1
	{
		float: left;
		padding: 0px;
		margin: 0px;
}

.cena1
	{
		float: right;
		margin: 0;
}